# Severity of Car Accident Analysis in Seattle City

## Introduction/Business Problem

This project objective is to help drivers plan for their trip safely, indirectly will result in reduction on car accident frequency in a community. An algorithim will be developed to predict the severity of an accident given the weather, road and visibility conditions.

## Data Understanding

Target variable for this analysis will be 'SEVERITYCODE' because it is used measure the severity of an accident from 0 to 5 within the dataset. Attributes used to weigh the severity of an accident are 'WEATHER', 'ROADCOND' and 'LIGHTCOND'.

Severity codes are as follows:

0 : Little to no Probability 

1 : Very Low Probablility - Chance or Property Damage

2 : Low Probability - Chance of Injury

3 : Mild Probability - Chance of Severe Injury

4 : High Probability - Chance of Fatality

### 1. Extract Dataset & Convert

In it's original form, this data is not fit for analysis. For one, there are many columns that we will not use for this model. Also, most of the features are of type object, when they should be numerical type.

We must use label encoding to covert the features to our desired data type.

In [8]:
import numpy as np
import pandas as pd

#!conda install -c anaconda xlrd 

df_seattle = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [9]:
df_seattle.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [13]:
df_seattle.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [14]:
df_seattle.describe(include ='all')

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,...,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,...,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1782439,Matched,Block,NaN,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,...,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,...,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,...,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,...,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,...,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,...,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [18]:
df_seattle.dropna(subset=["SEVERITYCODE","WEATHER","ROADCOND", "LIGHTCOND"], axis=0, inplace = True)

df_seattle.head(30)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
5,1,-122.387598,47.690575,6,320840,322340,E919477,Matched,Intersection,36974.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
6,1,-122.338485,47.618534,7,83300,83300,3282542,Matched,Intersection,29510.0,...,Wet,Daylight,NaN,8344002.0,NaN,10,Entering at angle,0,0,N
7,2,-122.320780,47.614076,9,330897,332397,EA30304,Matched,Intersection,29745.0,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,6855,0,N
8,1,-122.335930,47.611904,10,63400,63400,2071243,Matched,Block,NaN,...,Dry,Daylight,NaN,6166014.0,NaN,32,One parked--one moving,0,0,N
9,2,-122.384700,47.528475,12,58600,58600,2072105,Matched,Intersection,34679.0,...,Dry,Daylight,NaN,6079001.0,NaN,10,Entering at angle,0,0,N
10,1,NaN,NaN,14,48900,48900,2024040,Matched,Alley,NaN,...,Dry,Daylight,NaN,6145029.0,NaN,22,One car leaving driveway access,0,0,N
11,1,-122.333831,47.547371,15,38800,38800,C654800,Matched,Intersection,33194.0,...,Dry,Daylight,NaN,5223041.0,NaN,10,Entering at angle,0,0,N
12,1,-122.356273,47.571375,16,2771,2771,1211870,Unmatched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,3137016.0,NaN,14,From same direction - both going straight - on...,0,0,N
13,1,-122.323966,47.606374,17,32800,32800,2128498,Matched,Block,NaN,...,Wet,Dark - No Street Lights,NaN,5356027.0,NaN,32,One parked--one moving,0,0,N
14,2,-122.317414,47.664028,19,1212,1212,3507861,Matched,Block,NaN,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,30,From opposite direction - all others,0,0,N
16,2,-122.344539,47.692012,21,46300,46300,2023080,Matched,Intersection,37365.0,...,Dry,Daylight,NaN,5182022.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
17,1,NaN,NaN,23,23000,23000,537838,Matched,Block,NaN,...,Dry,Daylight,NaN,4016025.0,NaN,14,From same direction - both going straight - on...,0,0,N
18,2,-122.328270,47.571420,24,330833,332333,EA29752,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
19,1,-122.383802,47.583715,25,97100,97100,2894590,Matched,Block,NaN,...,Dry,Unknown,NaN,9152035.0,NaN,32,One parked--one moving,0,0,N
20,2,-122.292403,47.732847,26,1347,1347,3608880,Matched,Block,NaN,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
21,2,-122.313786,47.708535,28,1323,1323,3502831,Matched,Intersection,36505.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
22,1,-122.318169,47.615837,29,80000,80000,2882620,Matched,Block,NaN,...,Dry,Dark - Street Lights On,NaN,8200013.0,NaN,32,One parked--one moving,0,0,N
23,1,-122.337486,47.589746,31,28700,28700,1213894,Matched,Block,NaN,...,Unknown,Unknown,NaN,4256026.0,NaN,51,Other object,0,0,N
24,2,-122.279658,47.553405,33,1268,1268,3672152,Matched,Intersection,33499.0,...,Dry,Daylight,NaN,NaN,Y,14,From same direction - both going straight - on...,0,0,N
25,2,-122.312857,47.599218,34,320932,322432,E926429,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,0,0,N
26,1,-122.330730,47.615450,35,113300,113300,3346338,Matched,Intersection,29865.0,...,Wet,Unknown,NaN,10317016.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
27,1,-122.385859,47.581191,36,64700,64700,2798260,Matched,Block,NaN,...,Dry,Daylight,NaN,7204015.0,NaN,10,Entering at angle,0,0,N
28,1,-122.304990,47.611474,37,1083,1083,3605909,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
29,1,NaN,NaN,38,61500,61500,2607270,Matched,Block,NaN,...,Dry,Daylight,NaN,6320040.0,NaN,32,One parked--one moving,0,0,N
30,1,-122.324749,47.605555,39,40800,40800,2108924,Matched,Intersection,29959.0,...,Wet,Dark - Street Lights On,NaN,5309055.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N

In [20]:
#Encoding Light Conditions(0 = Light, 1 = Medium, 2 = Dark)
df_seattle["LIGHTCOND"].replace("Daylight", 0, inplace=True)
df_seattle["LIGHTCOND"].replace("Dark - Street Lights On", 1, inplace=True)
df_seattle["LIGHTCOND"].replace("Dark - No Street Lights", 2, inplace=True)
df_seattle["LIGHTCOND"].replace("Dusk", 1, inplace=True)
df_seattle["LIGHTCOND"].replace("Dawn", 1, inplace=True)
df_seattle["LIGHTCOND"].replace("Dark - Street Lights Off", 2, inplace=True)
df_seattle["LIGHTCOND"].replace("Dark - Unknown Lighting", 2, inplace=True)
df_seattle["LIGHTCOND"].replace("Other","Unknown", inplace=True)

#Encoding Weather Conditions(0 = Clear, 1 = Overcast and Cloudy, 2 = Windy, 3 = Rain and Snow
df_seattle["WEATHER"].replace("Clear", 0, inplace=True)
df_seattle["WEATHER"].replace("Raining", 3, inplace=True)
df_seattle["WEATHER"].replace("Overcast", 1, inplace=True)
df_seattle["WEATHER"].replace("Other", "Unknown", inplace=True)
df_seattle["WEATHER"].replace("Snowing", 3, inplace=True)
df_seattle["WEATHER"].replace("Fog/Smog/Smoke", 2, inplace=True)
df_seattle["WEATHER"].replace("Sleet/Hail/Freezing Rain", 3, inplace=True)
df_seattle["WEATHER"].replace("Blowing Sand/Dirt", 2, inplace=True)
df_seattle["WEATHER"].replace("Severe Crosswind", 2, inplace=True)
df_seattle["WEATHER"].replace("Partly Cloudy", 1, inplace=True)

#Encoding Road Conditions(0 = Dry, 1 = Mushy, 2 = Wet)
df_seattle["ROADCOND"].replace("Dry", 0, inplace=True)
df_seattle["ROADCOND"].replace("Wet", 2, inplace=True)
df_seattle["ROADCOND"].replace("Ice", 2, inplace=True)
df_seattle["ROADCOND"].replace("Snow/Slush", 1, inplace=True)
df_seattle["ROADCOND"].replace("Other", "Unknown", inplace=True)
df_seattle["ROADCOND"].replace("Standing Water", 2, inplace=True)
df_seattle["ROADCOND"].replace("Sand/Mud/Dirt", 1, inplace=True)
df_seattle["ROADCOND"].replace("Oil", 2, inplace=True)

In [38]:
#Making new dataframe with only variables and unique keys
selected_columns=df_seattle[["WEATHER","ROADCOND","LIGHTCOND","SEVERITYCODE"]]
feature_df=selected_columns.copy()
feature_df.dropna(axis=0,how='any',inplace=True)
feature_stats=feature_df.describe()

    #Light Condition
lightcondsize = feature_df ["LIGHTCOND"].size

featureinlightcond = feature_df ['LIGHTCOND'] == 'Unknown'

lightcond = feature_df['LIGHTCOND']
lightcond = lightcond.values
lightcond = lightcond[featureinlightcond]

lightcond[0:9036]=0
lightcond[9036:13417]=1
lightcond[13417:13961]=2

feature_df.loc [feature_df.LIGHTCOND == "Unknown", 'LIGHTCOND'] = lightcond

feature_df["LIGHTCOND"]=feature_df["LIGHTCOND"].astype(int)

    #Road Condition
roadcondsize = feature_df ["ROADCOND"].size

featureinroadcond = feature_df ['ROADCOND'] == 'Unknown'

roadcond = feature_df['LIGHTCOND']
roadcond = roadcond.values
roadcond = roadcond[featureinroadcond]

roadcond[0:9954]=0
roadcond[9954:10040]=1
roadcond[10040:15163]=2

feature_df.loc[feature_df.ROADCOND == "Unknown", 'ROADCOND'] = roadcond
feature_df["ROADCOND"]=feature_df["ROADCOND"].astype(int)

    #Weather Condition
weathersize = feature_df ["WEATHER"].size

featureinweather = feature_df ['WEATHER'] == 'Unknown'

weather = feature_df['WEATHER']
weather = weather.values
weather = weather[featureinweather]

weather[0:10151]=0
weather[10151:12683]=1
weather[12683:12742]=2
weather[12742:15864]=3

feature_df.loc[feature_df.WEATHER == "Unknown", 'WEATHER'] = weather
feature_df["WEATHER"]=feature_df["WEATHER"].astype(int)

In [39]:
#ML Feature Sets
X=feature_df[["ROADCOND","WEATHER","LIGHTCOND"]].values
y=feature_df[["SEVERITYCODE"]].values

In [40]:
feature_df.head()

   WEATHER  ROADCOND  LIGHTCOND  SEVERITYCODE
0        1         2          0             2
1        3         2          1             1
2        1         0          0             1
3        0         0          0             1
4        3         2          0             2

In [41]:
feature_df.dtypes

WEATHER         int64
ROADCOND        int64
LIGHTCOND       int64
SEVERITYCODE    int64
dtype: object